 body{
   font-family: "Times New Roman";

 }
 .header{
   text-align: center ;
 }





.Profile-image{
  border: solid 4px black;
  border-radius: 50%;
  width: 200px;
  height: 200px;

}
h1{

  background-color: #cccccc;
  padding: 5px;
}
.summery{
  text-transform: uppercase;
}
